/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-page-title-color: #DB00FF;
  --accent-text-color: #000028;
  --content-text-color: #F1B2CE;
  --content-title-color: #FF0070;
  --decorative-element-bg-img: url("../images/header-ellipse.png");
}
