/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --accent-color: #FF0070;
  --banner-title-color: #DB00FF;
  --accent-text-color: #000028;
  --content-text-color: #F1B2CE;
  --content-title-color: #FF0070;
  --header-text-size: clamp(0.0625rem, 0.0597rem + 4.5455vw, 1.125rem);
  --content-font-size: clamp(0.0625rem, 0.0597rem + 4.5455vw, 1.125rem);
  --letter-spacing-main: 0.01rem;
  --decorative-element-text: block;
  --page-bg-image: url("../images/cover-image-dark.png");
  --button-outline-color: rgba(255, 0, 112, 0.4);
}
