/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', 'Times New Roman', sans-serif;
  margin: 0.6em;
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100vh;
  background-attachment: local;
  background-color: var(--background-color);
  background-blend-mode: luminosity;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* Декоративные элементы (header)*/

.header__decorative-element {
  display: var(--decorative-element-text);
  position: absolute;
  font-size: var(--header-text-size);
  color: var(--content-title-color);
  text-transform: uppercase;
  justify-self: end;
  margin-right: 1.8rem;
  margin-top: 0.1rem;
  letter-spacing: 0.015rem;
}

.header__decorative-ellipse {
  position: absolute;
  justify-self: end;
  height: 24px;
  width: 24px;
  margin: 1px 1px;
  border-style: solid solid none none;
  border-color: var(--content-title-color);
  background-image: var(--decorative-element-bg-img);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .header__decorative-element {
    margin-right: 2.4rem;
    margin-top: 0.8rem;
  }
  
  .header__decorative-ellipse {
    margin-right: 0.6rem;
    margin-top: 0.6rem;
  }
}

/*Header*/

.header {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
}

.header__theme-menu {
  display: grid;
  justify-items: center;
  margin-block-start: 6.5vh;
}

@media (min-width: 768px) {
  .header__theme-menu {
      margin-block-start: 24vh;
  }
}

.header__theme-menu-list {
  list-style-type: none;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    padding-inline-end: 0.7rem;
  }
}

.header__theme-menu-item {
  line-height: 2.3rem;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--header-text-size);
  color: var(--content-title-color);
  font-family: 'IBM Plex mono', 'Times New Roman', sans-serif;
  font-weight: 300;
  letter-spacing: 0.015rem;
  border: none;
  width: 4.4rem;
}

.header__theme-menu-button:active {
  outline: 2px solid;
  /* pointer-events: none; В уроке так. Не поняла, что за "класс _active". Работает так  */
}

.header__theme-menu-button:hover {
  outline: 1px solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid;
}

/*Основная страница*/

.main-page__title {
  text-transform: lowercase;
  font-size: clamp(0.0625rem, 0.0438rem + 29.9465vw, 7.0625rem);
  line-height: 6rem;
  color: var(--main-page-title-color);
  text-shadow: 0.3rem 0.3rem var(--accent-color);
  margin-block-start: 0.38em;
  margin-block-end: 0.47em;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  .main-page__title {
    margin-block-start: 1.35em;
    margin-inline-start: -0.5rem; /*Без этого отступа (с 0) не по макету*/
    letter-spacing: 0.25rem;
  }
}

.main-page__text {
  line-height: 1.5rem;
  letter-spacing: var(--letter-spacing-main);
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: clamp(0.0625rem, 0.0597rem + 4.5455vw, 1.125rem);
}

@media (min-width: 768px) {
  .main-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 9em;
    margin-inline-end: 0.7em;
    gap: 0.5em;
  }

  .main-page__text {
    grid-column-start: 2;
  }
}

/* Декоративные элементы (основная)*/

.main-page__decorative-bottom-element {
  position: absolute;
  justify-self: start;
  height: 24px;
  width: 24px;
  border-style: none none solid solid;
  border-color: var(--content-title-color);
  margin-top: 3.5%;
}

/*Контент*/

.content {
  margin-block-start: 6.6em;
  line-height: 1.475rem;
}

.content__title {
  font-size: var(--content-font-size);
  letter-spacing: var(--letter-spacing-main);
  color: var(--content-title-color);
}

.content__title:not(:first-of-type) {
  margin-block-start: 2.7em;
}

.content__accent-title {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--content-font-size);
  letter-spacing: var(--letter-spacing-main);
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}

.content__accent-subtitle {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--content-font-size);
  letter-spacing: var(--letter-spacing-main);
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  font-weight: 100;
}

.content__accent-subtitle:first-of-type {
  margin-block-start: 1.1em;
}

.content__text {
  color: var(--content-text-color);
  margin-block-start: 0.5em;
  font-size: var(--content-font-size);
}

.link {
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid;
  outline-offset: -0.3rem;
  padding: 0rem 0.3rem 0.2rem 0.3rem;
}

/*Галерея*/

.gallery {
  margin-block-start: 2.85em;
}

.gallery__accent-title {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--content-font-size);
  letter-spacing: var(--letter-spacing-main);
  margin-block-start: 2.8em;
  margin-block-end: 0.6em;
  max-width: 100vw;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 100vw;
  grid: auto-flow / 1fr;
  gap: 0.6em;
}

.gallery__image {
  max-width: 100%;
}

/*Footer*/

.footer {
  display: grid;
  margin-block-start: 3em;
  height: 98vh;
}

.footer__title {
  text-transform: lowercase;
  font-size: clamp(0.0625rem, 0.0438rem + 29.9465vw, 7.0625rem);
  line-height: 6rem;
  color: var(--main-page-title-color);
  text-shadow: 0.1rem 0.1rem var(--accent-color);
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.1rem;
  justify-self: center;
  align-self: center;
}

/*Декоративные элементы (footer)*/

.footer__decorative-element {
  position: absolute;
  justify-self: end;
  height: 24px;
  width: 24px;
  margin: 1px 1px;
  border-style: solid solid none none;
  border-color: var(--accent-color);
}

.footer__decorative-bottom-element {
  position: absolute;
  justify-self: start;
  align-self: last baseline;
  height: 24px;
  width: 24px;
  border-style: none none solid solid;
  border-color: var(--accent-color);
  margin-bottom: 0.4em;
}

