/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', 'Times New Roman', sans-serif;
  font-weight: 400;
  background-image: url("../images/cover-image-dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: ; /*переменная*/
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
}

/* Ниже
Элементы с абсолютным поз. которые скрываются при изменении ширины экрана*/

.header__decorative-element {
  position: absolute;
  font-size: var(--header-text-size);
  text-transform: uppercase;
  justify-self: end;
  margin-right: 1.8rem;
  margin-top: 0.1rem;
  letter-spacing: 0.015rem;
}

.header__decorative-ellipse {
  position: absolute;
  justify-self: end;
  height: 24px;
  width: 24px;
  margin: 1px 1px;
  border-style: solid solid none none;
  border-color: var(--accent-color);
  background-image: url("../images/header-ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Выше
Элементы с абсолютным поз. которые скрываются при изменении ширины экрана*/

.header__theme-menu {
  display: grid;
  justify-items: center;
  margin-block-start: 7vh;
}

.header__theme-menu-list {
  list-style-type: none;
}

.header__theme-menu-item {
  line-height: 2.3rem;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: var(--header-text-size);
  font-family: 'IBM Plex mono', 'Times New Roman', sans-serif;
  font-weight: 300;
  letter-spacing: 0.015rem;
  border: solid;            /*УБРАТЬ потом*/
  width: 4.4rem;
}

.header__theme-menu-button:hover {
  border: 1px solid;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid;
}

.main-page__title {
  text-transform: lowercase;
  font-size: clamp(0.0625rem, 0.0438rem + 29.9465vw, 7.0625rem);
  line-height: 6rem;
  color: var(--main-page-title-color);
  text-shadow: 0.3rem 0.3rem var(--accent-color);
  margin-block-start: 0.36em;
  margin-block-end: 0.47em;
  padding-left: 0.5vh;
  letter-spacing: 0.1rem;
}

.main-page__text {
  line-height: 1.5rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/* Ниже
Элементы с абсолютным поз. которые скрываются при изменении ширины экрана*/

.main__decorative-bottom-element {
  position: absolute;
  justify-self: start;
  height: 24px;
  width: 24px;
  border-style: none none solid solid;
  border-color: var(--accent-color);
  margin-top: 3.5%;
}

/* Выше
Элементы с абсолютным поз. которые скрываются при изменении ширины экрана*/

.content {
  margin-block-start: 6.6em;
  line-height: 1.475rem;
}

.content__title {
  font-size: var(--content-font-size);
  letter-spacing: 0.01rem;
  color: var(--accent-color);
}

.content__title:not(:first-of-type) {
  margin-block-start: 2.7em;
}

.content__accent-title {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--content-font-size);
  letter-spacing: 0.01rem;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}

.content__text {
  color: white;
  margin-block-start: 0.5em;
  font-size: var(--content-font-size);
}