/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-page-title-color: #DB00FF;
  --accent-text-color: #000028;
  --content-text-color: #F1B2CE;
  --content-title-color: #FF0070;
  --header-text-size: clamp(0.0625rem, 0.0597rem + 4.5455vw, 1.125rem);
  --content-font-size: clamp(0.0625rem, 0.0597rem + 4.5455vw, 1.125rem);
  --letter-spacing-main: 0.01rem;
  --decorative-element-text: block;
  --decorative-element-bg-img: url("../images/header-ellipse.png");
  --page-bg-image: url("../images/cover-image-dark.png");
}
